* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.wallet-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wallet-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.wallet-btn:hover {
  background-color: var(--border-color);
  color: var(--text-color);
}

:root {
  --bg-color: black;
  --text-color: white;
  --border-color: #b7b7b7;
}
